<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公共静态资源</title>
</head>

<script type="text/javascript" th:src="@{~/static/plugins/jquery/jquery-2.1.4.min.js}"></script>

<link th:href="@{~/static/plugins/layuiadmin/layui/css/layui.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href="@{~/static/plugins/layuiadmin/style/admin.css}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{~/static/plugins/layuiadmin/layui/layui.js}"></script>

<body>
</body>
</html>
