<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ad.mapper.BusinessClassifyMapper" >
  <resultMap id="BaseResultMap" type="ad.pojo.BusinessClassify" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
    <result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
    <result column="reserve4" property="reserve4" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectMaxCodeOfClassify"
	resultType="java.lang.String" parameterType="java.lang.String">
	SELECT MAX(CODE) FROM business_classify where pcode = #{pcode}
</select>
</mapper>